body {
	background-image: url("https://www.imgbase.info/images/safe-wallpapers/digital_art/3d/42128_3d_3d_gem_stones.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}